In [6]:
import pandas as pd

In [7]:
data = pd.read_csv('customer_transactions.csv')
print(data.head())

   Transaction_ID  Customer_ID Transaction_Date  Product_ID  \
0               1         1684       2023-01-01         120
1               2         1559       2023-01-02         143
2               3         1629       2023-01-03         100
3               4         1192       2023-01-04         166
4               5         1835       2023-01-05         197

   Quantity_Purchased  Transaction_Value Payment_Method  Delivery_Time  \
0                 3.0        1061.663004    Credit Card      -6.784866
1                 0.0         127.449065         PayPal       5.217631
2                 5.0         101.403802    Credit Card       5.632512
3                 5.0         113.082682    Credit Card       5.256402
4                 5.0         117.613664           Cash       8.978123

   Customer_Rating Customer_Comments Is_Returned
0              1.0           Average          No
1              3.0               Bad         Yes
2              4.0              Good          No
3              5.0               NaN         Yes
4              1.0           Average          No

In [64]:
data.shape

(1000, 11)

In [11]:
#checking for missing values
missing_data_columns =  data.isnull().sum()
print(missing_data_columns)

Transaction_ID          0
Customer_ID             0
Transaction_Date        0
Product_ID              0
Quantity_Purchased    101
Transaction_Value      98
Payment_Method          0
Delivery_Time         109
Customer_Rating         0
Customer_Comments     284
Is_Returned             0
dtype: int64

In [75]:
data['Quantity_Purchased']=data['Quantity_Purchased'].fillna(data['Quantity_Purchased'].median())
data['Transaction_Value'] =data['Transaction_Value'].fillna(data['Transaction_Value'].median())

In [74]:
data.head(27)

,Transaction_ID,Customer_ID,Transaction_Date,Product_ID,Quantity_Purchased,Transaction_Value,Payment_Method,Delivery_Time,Customer_Rating,Customer_Comments,Is_Returned
0,1,1684,2023-01-01,120,3.0,1061.663004,Credit Card,-6.784866,1.0,Average,No
1,2,1559,2023-01-02,143,0.0,127.449065,PayPal,5.217631,3.0,Bad,Yes
2,3,1629,2023-01-03,100,5.0,101.403802,Credit Card,5.632512,4.0,Good,No
3,4,1192,2023-01-04,166,5.0,113.082682,Credit Card,5.256402,5.0,NaN,Yes
4,5,1835,2023-01-05,197,5.0,117.613664,Cash,8.978123,1.0,Average,No
5,6,1763,2023-01-06,112,3.0,84.484107,Credit Card,3.685149,4.0,NaN,Yes
6,7,1707,2023-01-07,115,6.0,120.811726,Credit Card,2.357572,2.0,NaN,Yes
7,8,1359,2023-01-08,133,3.0,110.224714,PayPal,6.300502,4.0,NaN,Yes
8,9,1009,2023-01-09,123,3.0,88.721461,PayPal,4.705578,2.0,Average,Yes
9,10,1723,2023-01-10,112,2.0,139.432638,Bank Transfer,5.166683,1.0,Average,Yes
10,11,1277,2023-01-11,105,1.0,97.308742,Bank Transfer,2.494814,3.0,Good,Yes
11,12,1754,2023-01-12,138,2.0,98.650025,Cash,5.584499,2.0,Good,Yes
12,13,1804,2023-01-13,101,3.0,95.537911,Credit Card,5.806807,4.0,Good,No
13,14,1599,2023-01-14,110,3.0,98.111247,PayPal,0.249225,1.0,Average,No
14,15,1070,2023-01-15,106,3.0,70.758816,Cash,NaN,5.0,Bad,Yes
15,16,1472,2023-01-16,106,2.0,92.537963,PayPal,9.210085,1.0,Average,Yes
16,17,1600,2023-01-17,138,1.0,80.382327,Cash,2.646551,1.0,NaN,Yes
17,18,1396,2023-01-18,175,0.0,114.277289,Credit Card,7.368124,3.0,Bad,Yes
18,19,1314,2023-01-19,185,3.0,65.558729,Credit Card,2.015808,3.0,Average,Yes
19,20,1705,2023-01-20,150,1.0,142.570941,Cash,5.232500,2.0,Average,Yes
20,21,1486,2023-01-21,151,2.0,110.093026,Cash,6.270727,2.0,Bad,No
21,22,1551,2023-01-22,102,3.0,124.416004,Bank Transfer,3.979656,2.0,Average,No
22,23,1087,2023-01-23,176,5.0,99.612552,Credit Card,3.668471,5.0,Bad,No
23,24,1174,2023-01-24,129,5.0,99.612552,PayPal,6.344776,3.0,NaN,No
24,25,1600,2023-01-25,109,7.0,86.649588,Bank Transfer,NaN,4.0,Good,Yes
25,26,1849,2023-01-26,172,1.0,96.484215,Bank Transfer,0.429646,3.0,Average,No
26,27,1677,2023-01-27,105,6.0,87.716750,Cash,2.385598,4.0,Average,No

In [78]:
# Drop rows with more than 50% missing data
data.dropna(thresh=len(data.columns) * 0.5)
data

,Transaction_ID,Customer_ID,Transaction_Date,Product_ID,Quantity_Purchased,Transaction_Value,Payment_Method,Delivery_Time,Customer_Rating,Customer_Comments,Is_Returned
0,1,1684,2023-01-01,120,3.0,1061.663004,Credit Card,-6.784866,1.0,Average,No
1,2,1559,2023-01-02,143,0.0,127.449065,PayPal,5.217631,3.0,Bad,Yes
2,3,1629,2023-01-03,100,5.0,101.403802,Credit Card,5.632512,4.0,Good,No
3,4,1192,2023-01-04,166,5.0,113.082682,Credit Card,5.256402,5.0,NaN,Yes
4,5,1835,2023-01-05,197,5.0,117.613664,Cash,8.978123,1.0,Average,No
...,...,...,...,...,...,...,...,...,...,...,...
995,996,1915,2025-09-22,119,6.0,144.336009,Bank Transfer,7.531945,3.0,Good,Yes
996,997,1162,2025-09-23,162,5.0,93.920715,Cash,NaN,3.0,Good,Yes
997,998,1050,2025-09-24,129,0.0,97.713908,PayPal,NaN,4.0,Average,Yes
998,999,1242,2025-09-25,109,5.0,99.612552,Bank Transfer,5.574646,3.0,Average,No
999,1000,1870,2025-09-26,111,3.0,99.612552,Credit Card,3.762784,4.0,Average,No

In [13]:
# Drop columns with more than 70% missing data
data = data.loc[:, data.isnull().mean() < 0.7]
data

,Transaction_ID,Customer_ID,Transaction_Date,Product_ID,Quantity_Purchased,Transaction_Value,Payment_Method,Delivery_Time,Customer_Rating,Customer_Comments,Is_Returned
0,1,1684,2023-01-01,120,3.0,1061.663004,Credit Card,-6.784866,1.0,Average,No
1,2,1559,2023-01-02,143,0.0,127.449065,PayPal,5.217631,3.0,Bad,Yes
2,3,1629,2023-01-03,100,5.0,101.403802,Credit Card,5.632512,4.0,Good,No
3,4,1192,2023-01-04,166,5.0,113.082682,Credit Card,5.256402,5.0,NaN,Yes
4,5,1835,2023-01-05,197,5.0,117.613664,Cash,8.978123,1.0,Average,No
...,...,...,...,...,...,...,...,...,...,...,...
995,996,1915,2025-09-22,119,6.0,144.336009,Bank Transfer,7.531945,3.0,Good,Yes
996,997,1162,2025-09-23,162,5.0,93.920715,Cash,NaN,3.0,Good,Yes
997,998,1050,2025-09-24,129,0.0,97.713908,PayPal,NaN,4.0,Average,Yes
998,999,1242,2025-09-25,109,5.0,NaN,Bank Transfer,5.574646,3.0,Average,No
999,1000,1870,2025-09-26,111,NaN,NaN,Credit Card,3.762784,4.0,Average,No

In [14]:
# Outlier detection and handling
def replace_outliers_with_median(df, column_name):
    Q1 = df[column_name].quantile(0.25)
    Q3 = df[column_name].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    median_value = df[column_name].median()
    df.loc[(df[column_name] < lower_bound) | (df[column_name] > upper_bound), column_name] = median_value

In [15]:
#outliers for 'Transaction_Value'
replace_outliers_with_median(data, 'Transaction_Value')

In [18]:
#extreme outliers and negative values for 'Delivery_Time'
delivery = data[data['Delivery_Time'] >= 0]
replace_outliers_with_median(delivery, 'Delivery_Time')

In [21]:
### Categorical Variable Encoding
# Convert Payment_Method and Is_Returned into categorical variables.
payment_dummies = pd.get_dummies(data['Payment_Method'], prefix='Payment')
data = pd.concat([data, payment_dummies], axis=1)

In [22]:
# Create a binary variable Return_Flag for Is_Returned 
data['Is_Returned'] = data['Is_Returned'].astype('category')
data['Return_Flag'] = data['Is_Returned'].apply(lambda x: 1 if x == 'Yes' else 0)

In [24]:
#new feature Transaction_Year by extracting the year from Transaction_Date.
data['Transaction_Date'] = pd.to_datetime(data['Transaction_Date'])
data['Transaction_Year'] = data['Transaction_Date'].dt.year

In [25]:
# Create 'High_Rating' feature
data['High_Rating'] = data['Customer_Rating'].apply(lambda x: 1 if x >= 4 else 0)

In [27]:
print('Feature Engineering Data')
print(data.head())

feature engineering data
   Transaction_ID  Customer_ID Transaction_Date  Product_ID  \
1               2         1559       2023-01-02         143
2               3         1629       2023-01-03         100
3               4         1192       2023-01-04         166
4               5         1835       2023-01-05         197
5               6         1763       2023-01-06         112

   Quantity_Purchased  Transaction_Value Payment_Method  Delivery_Time  \
1                 0.0         127.449065         PayPal       5.217631
2                 5.0         101.403802    Credit Card       5.632512
3                 5.0         113.082682    Credit Card       5.256402
4                 5.0         117.613664           Cash       8.978123
5                 3.0          84.484107    Credit Card       3.685149

   Customer_Rating Customer_Comments  ... Payment_Cash  Payment_Credit Card  \
1              3.0               Bad  ...        False                False
2              4.0              Good  ...        False                 True
3              5.0               NaN  ...        False                 True
4              1.0           Average  ...         True                False
5              4.0               NaN  ...        False                 True

   Payment_PayPal  Return_Flag  Payment_Bank Transfer Payment_Cash  \
1            True            1                  False        False
2           False            0                  False        False
3           False            1                  False        False
4           False            0                  False         True
5           False            1                  False        False

   Payment_Credit Card  Payment_PayPal  Transaction_Year  High_Rating
1                False            True              2023            0
2                 True           False              2023            1
3                 True           False              2023            1
4                False           False              2023            0
5                 True           False              2023            1

[5 rows x 22 columns]

In [29]:
data.to_csv('cleaned_customer_transactions.csv', index=False)